<div class="vertical-align">
  <div class="vertical-align-item">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
          <div [ngClass]="messageClass" class="" role="alert">
            {{message}}
          </div>
          <div class="card shadow">
            <div class="card-header">
              Sign-up
            </div>
            <div class="card-body">
              <form [formGroup]="form" (submit)="onRegisterSubmit()">

                <!-- Username Input -->
                <div class="form-group">
                  <label for="username">Username</label>
                  <input [ngClass]="{'is-invalid': (form.controls.username.errors && form.controls.username.dirty) || (!usernameValid && form.controls.username.dirty), 'is-valid': !form.controls.username.errors && usernameValid}"
                    type="text" name="username" class="form-control" autocomplete="off" placeholder="Username" formControlName="username"
                  />
                  <!-- Validation -->
                  <div class="invalid-feedback">
                    <span *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">This field is required</span>
                    <span *ngIf="form.controls.username.errors?.minlength && form.controls.username.dirty || form.controls.username.errors?.maxlength && form.controls.username.dirty ">Minimum characters: 3, Maximum characters: 15</span>
                    <span *ngIf="form.controls.username.errors?.validateUsername && form.controls.username.dirty">Username must not have any special characters</span>
                    <span *ngIf="usernameMessage">{{usernameMessage}}</span>
                  </div>
                  <!-- <div class="invalid-feedback">
                                <span *ngIf="usernameMessage">{{usernameMessage}}</span>
                              </div> -->
                </div>

                <!-- Email Input -->
                <div class="form-group">
                  <label for="email">Email</label>
                  <input [ngClass]="{'is-invalid': (form.controls.email.errors && form.controls.email.dirty) || (!emailValid && form.controls.email.dirty), 'is-valid': !form.controls.email.errors && emailValid}"
                    type="text" name="email" class="form-control" autocomplete="off" placeholder="Email" formControlName="email"
                  />
                  <!-- Validation -->
                  <div class="invalid-feedback">
                    <span *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required</span>
                    <span *ngIf="(form.controls.email.errors?.minlength && form.controls.email.dirty || form.controls.email.errors?.maxlength && form.controls.email.dirty ) && form.controls.email.dirty">Minimum characters: 5, Maximum characters: 30</span>
                    <span *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">This must be a valid e-mail</span>
                    <span *ngIf="usernameMessage">{{emailMessage}}</span>
                  </div>
                </div>

                <!-- Password Input -->
                <div class="form-group">
                  <label for="password">Password</label>
                  <input [ngClass]="{'is-invalid': (form.controls.password.errors && form.controls.password.dirty), 'is-valid': !form.controls.password.errors}"
                    type="password" name="password" class="form-control" autocomplete="off" placeholder="Password" formControlName="password"
                  />
                  <!-- Validation -->
                  <div class="invalid-feedback">
                    <span *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required</span>
                    <span *ngIf="form.controls.password.errors?.minlength && form.controls.password.dirty || form.controls.password.errors?.maxlength && form.controls.password.dirty ">Minimum characters: 8, Maximum characters: 35</span>
                    <span *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">Password must be at least 8 characters but no more than 35</span>
                  </div>
                </div>

                <!-- Confirm Password Input -->
                <div class="form-group">
                  <label for="confirm">Confirm Password</label>
                  <input [ngClass]="{'is-invalid': (form.controls.confirm.errors && form.controls.confirm.dirty) || (form.errors?.matchingPasswords && form.controls.confirm.dirty), 'is-valid': !form.controls.confirm.errors && !form.errors?.matchingPasswords}"
                    type="password" name="confirm" class="form-control" autocomplete="off" placeholder="Confirm Password" formControlName="confirm"
                  />
                  <!-- Validation -->
                  <div class="invalid-feedback">
                    <span *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">This field is required</span>
                    <span *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty">Password do not match</span>
                  </div>
                </div>

                <!-- Submit Input -->
                <button [disabled]="!form.valid || processing || !emailValid || !usernameValid" type="submit" class="btn btn-outline-success">
                  <i class="fa fa-check-circle mr-2"></i>Sign-up</button>

              </form>
              <!-- Registration Form /-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
